<div class="flex flex-col align-middle justify-center items-center">
  <nav class="w-full">
    <h1>Angular Routing</h1>
    <ul>
      <li><a class="buttonPadding" routerLink="home">Home</a></li>
      <li><a class="buttonPadding" routerLink="/about">About</a></li>
      <li><a class="buttonPadding" routerLink="/contact">Contact</a></li>
      <li><a class="buttonPadding" routerLink="/products">Products</a></li>
    </ul>

    <p
      style="color: white; display: flex; align-items: center; justify-self: center; margin-left: 51px; font-size: larger;">
      <span>to explore nested routing click</span> <a routerLink="/parent"> here</a></p>
  </nav>

  <div class="flex flex-col align-middle justify-center items-center">
    <router-outlet class="text-3xl" id="outlet"></router-outlet>
  </div>


  <div>
    <h1>Use of customized css in  tailwind config.js file </h1>
    <p class="text-customColor font-serif text-2xl"> using custom color</p>
    <p class="p-myCustomPadding bg-red-800 text-white"> my custom padding applyed here </p>
  </div>
   

</div>