/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;

p{
   font-size: larger;
   color: green;
}
a{
   color: blue;
}

.button{
   padding: 21px;
}